input {
    font-weight: 400;
    box-shadow: 1.5pt 1.5pt 5pt rgba(0,0,0,.5);
    border-style: solid;
    border-color: white;
    border-width: 1px;
    outline: none;
    margin-bottom: 10pt;
    height: 48px;
    width: 298px;
    position: relative;
}
input:hover{
    border-color: black;
}
input:focus{
    border-color: black;
}
form{
    display:flex;
    flex-direction:column;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

span{
    position: absolute;
}
.login-btn{
    color: #ddb443;
    outline: none;
    background-color: black;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    height: 50px;
    width: 304px;
    box-shadow: 1.5pt 1.5pt 5pt rgba(0,0,0,.5);
    position: relative;
}
.login-btn:active{
    border-color: white;
}